<div ng-include="consumodiario.menutemplate.url"></div>


<table class="bordered">
	<caption>Costos Energía Electrica</caption>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Consumo</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in valor | orderBy:'nombre' ">
            <td>{{p.nombre}}</td>
            <td>{{p.fecha}}</td>
            <td>{{p.kwh}}</td>
        </tbody>
      </table>



<div style="width: 600px; height: 400px; margin: 0 auto">
    <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>

