<div ng-include="consumoactual.menutemplate.url"></div>

<div class="container" ng-repeat="n in consumo | filter: {mes: '12'}">	
	  <table class="highlight">
        <thead >
          <tr>
              <th>Fecha</th>
              <th>Consumo</th>
              <th>Costo</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td> {{n.mes}}/{{n.anio}}</td>
            <td>{{n.kwh}} Kwh</td>
            <td>$ {{n.costokwh}}</td>
          </tr>
      </table>
     <div class="row">
		<div class="input-field col s6" id="Efficient" ></div>
		<div class="input-field col s6" id="EfficientDos" ></div>
	</div> 
<div class="input-field col s6"><a class="waves-effect waves-light btn green" href="/#!/detalleconsumo">Mi consumo detallado</a></div>
</div>
 

