<div ng-controller="CasillaproyectosCtrl"> 
<div class="container" ng-repeat="d in detalles | limitTo : 1">
	<h3 style="color: green">Detalles proyecto: {{d.nombre}}</h3>
	<p>Identificador proyecto:{{d.idproyectos}}</p> 
	<p>Responsable de proyecto: {{d.razonsocial}}</p>
	<p>Rut Responsable: {{d.rutsocial}}</p>
	<p>Tipo de organizacion: {{d.organizacion}}</p>
	<p>Telefono de contacto: {{d.telefono}}</p>
	<p>Mail de contacto: {{d.usuario}}</p>
	<p>Proyecto contempla cobro a beneficiarios? : {{d.tafifa}}</p>
	<p>Tipo de destinatarios del proyecto: {{d.destinatarios}}</p>
	<p>Número de beneficiarios directos con el proyecto: {{d.beneficiariodirecto}</p>
	<p>Número de beneficiarios indirectos con el proyecto: {{d.beneficiarioindirecto}}</p>
	<p>Cantida de metros cuadras que se pretende construir: {{d.dimensiones}}</p>
	<p>Duración del proyecto:{{d.duracion}} meses</p>
	<p>Ubicación del proyecto:{{d.region}}</p>
	<p>Meta de ahorro propuesta: {{d.meta}} %</p>
	<p>Capital disponible para realizar el proyecto: ${{d.dinero}}</p>
	<p>Dinero faltante para realizar el proyecto:${{d.aporte}}</p>
	<p>Gasto en Recursos humanos: ${{d.manodeobra}}</p>
	<p>Gasto en materiales: ${{d.materiales}}</p>

</div>
</div>


