<div ng-include="detallesproyecto.menutemplate.url"></div>

<div  class="container"> 

<div class="row">
	<h1  style="color: black">Proyecto: {{detalles.nombre}}</h1>
  <h3 style="color: gray">Ahorro mensual: {{detalles.meta}} %</h3>
  <h5><p>Para participar en este proyecto no debo superar un consumo mensual de $ {{meta}}</p></h5>
	<div class="container" >
    <p></p>
<table>
        <thead>
          <tr>
              <th>Participante</th>
              <th>Consumo actual</th>
              
          </tr>
        </thead>

        <tbody ng-repeat="participante in participantes">
          <tr>
            <td>{{participante.usuarios_correo}}</td>
            <td ng-if="participante.promedio > detalles.meta"><p class="circulo"></p></td>
            <td ng-if="participante.promedio < detalles.meta"><p class="circulo_rojo" "></td>
            <td></td>
          </tr>
        </tbody>
      </table>
 

</div>
</div>
</div>
