<div ng-include="efficienthome.menutemplate.url"></div>
<div class="container">
	<h3>Informacion de mi efficient home</h3>
	<p>En esta seccion puede obtener información de la humedad y la temperatura de hogar </p>
	<p>**Si no aparecen los graficos recargue la página**</p>
	<div class="row">
		<div class="input-field col s12">Información sensor número 1</div>
		<div class="input-field col s6" id="humedadUno"></div>
		<div class="input-field col s6" id="temperaturaUno"></div>
		<div class="input-field col s12">Información sensor número 2</div>
		<div class="input-field col s6" id="humedadDos"></div>

		<div class="input-field col s6" id="temperaturaDos"></div>
	</div>
</div>