<div ng-include="listaProyectos.menutemplate.url"></div>
<ul class="collapsible" data-collapsible="expandible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Nombre proyecto</div>
      <div  ng-repeat="proyecto in proyectos" class="collapsible-body"><p align="justify">{{proyecto.nombre}} </p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Objetivo proyecto</div>
      <div ng-repeat="proyecto in proyectos" class="collapsible-body"><p align="justify">{{proyecto.objetivo}}</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">format_list_numbered</i>Metas</div>
      <div ng-repeat="proyecto in proyectos" class="collapsible-body"><p align="justify">{{proyecto.meta}}</p>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">format_list_numbered</i>Agregar Proyecto</div>
     
      <!--   <div class="row">
          <div class="input-field col s6">
            <form>
              <input type="text" ng-model="nuevoProyecto.nombre">
              <label >Nombre Proyecto</label>
              <input type="text" ng-model="nuevoProyecto.objetivo" >
              <label >Objetivo</label>
              <input type= "text" ng-model= "nuevoProyecto.meta" >
              <label>Metas</label>
              <button class="btn waves-effect waves-yellow red" ng-click="agregarProyecto()"> Agregar Proyecto</button>
            </form> 
          </div>
       </div> -->
       <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <form class="form" role="form" ng-submit="addMessage(newMessageText); newMessageText = ''">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="newMessageText" placeholder="Enter Text">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add Message</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <div class="row" ng-repeat="message in messages | orderBy:'':true">
              <div class="col-md-12">
                <form class="form" role="form">
                  <div class="input-group">
                    <input type="text" 
                           ng-model="message.text" 
                           class="form-control" 
                           ng-change="messages.$save(message)" >
                    <span class="input-group-btn"> 
                      <button class="btn btn-danger" type="button" ng-click="messages.$remove(message)">&times;</button>
                    </span>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </li>
  </ul>


