<div ng-include="mapa.menutemplate.url"></div>
<!-- <div ng-include="mapa.navtemplate.url"></div> -->
<!-- <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/fondo.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/office.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="/#!/proyectos"><i class="material-icons">cloud</i>Proyectos</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="mapa.navtemplate.url" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img class="responsive-img" src="images/paisaje2.jpg"> <!-- random image -->
        <div class="caption center-align ">
          <h3>Creación de nuevas plazas para la comunidad</h3>
          <h5 class="light white-text text-lighten-3 ">Antiguo terreno utilizado como basural, ahora es un punto de reunión.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/paisaje1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Nuevos juegos para niños</h3>
          <h5 class="light white-text text-lighten-3">Renovación antiguos juegos oxidados, por juegos nuevos.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/paisaje3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Nueva luminaria pública</h3>
          <h5 class="light white-text text-lighten-3">Cambio de antiguas ampolletas alogenas de alto consumo, por ampolletas led de bajo consumo.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/paisaje4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Repavimentación de calles</h3>
          <h5 class="light white-text text-lighten-3">Reparación de calles que se encontraban con hoyos y grietas.</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div class="video-container">
        <iframe width="256" height="256" src="https://www.youtube.com/embed/6n9BHkSvAaI" frameborder="0" allowfullscreen></iframe>
  </div> -->

     <!-- segunda linea de cards -->
     <div class="row">
        <div class="col s6 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/agregar.png">
          </div>
          <div class="card-stacked blue-grey darken-1">
            <div class="card-content">
              <span class="card-title">Agregar Proyectos</span>
              <p style="text-align: justify;">Puedes Agregar nuevos proyectos</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light indigo btn"  onclick="Materialize.toast('¿Cuál es mi Consumo?', 4000,'rounded')" ng-href="/#!/listaProyectos"><i class="material-icons left" >add</i>Agregar Proyecto</a>
            </div>
          </div>
        </div>
        </div>
        <div class="col s6 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/meta.png">
          </div>
          <div class="card-stacked blue-grey darken-1">
            <div class="card-content">
              <span class="card-title">Metas de Consumo</span>
              <p style="text-align: justify;"></p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light indigo btn" ng-href="/#!/metas"><i class="material-icons left" >face</i>Metas de consumo</a>

            </div>
          </div>
        </div>    
     </div>
     <!-- tercera linea de cards -->
    <!--  <div class="row">
        <div class="col s6 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/agregar.png">
          </div>
          <div class="card-stacked blue-grey darken-1">
            <div class="card-content">
              <span class="card-title">Agregar Proyectos</span>
              <p style="text-align: justify;">Puedes Agregar nuevos proyectos</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light indigo btn"  onclick="Materialize.toast('¿Cuál es mi Consumo?', 4000,'rounded')" ng-href="/#!/listaProyectos"><i class="material-icons left" >add</i>Agregar Proyecto</a>
            </div>
          </div>
        </div>
        </div>
        <div class="col s6 m6">
          
     </div>
     </div>  -->    
</div>
<div>
  <div class="fb-like" data-href="http://organizameapp.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
 <!--  <div class="fb-share-button" data-href="http://organizameapp.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Forganizameapp.com%2F&amp;src=sdkpreparse">Compartir</a></div> -->
</div>