	<div ng-include="postular.menutemplate.url"></div>
	<h3 style="text-align: center;">Formulario de Postulación a proyectos</h3>
	 <div class="row">
	    <form action="/#!/exito" method="POST" class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="nombre" type="text" class="validate">
	          <label for="nombre">Nombre</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="apellido" type="text" class="validate">
	          <label for="apellido">Apellido</label>
	        </div>
	      </div>
	      <div class="row">
	      	<div class="input-field col s6">
	          <input id="email" type="email" class="validate">
	          <label for="email">Email</label>
	        </div>
	        <div class="input-field col s6">
		        <select>
				    <option value="" disabled selected>Choose your option</option>
				    <option value="1">Creación de Plazas</option>
				    <option value="2">Renovación de luminarias públicas</option>
			        <option value="3">Repavimentación de Calles</option>
			        <option value="4">Renovación Juegos Infantiles</option>
			    </select>
	    		<label>Seleccíon Tipo de Proyecto</label>
	        </div>
	        <!-- <div class="input-field col s4">
	        	<input id="nacimiento" type="date" class="datepicker">
	        	<label for="nacimiento">Fecha Nacimiento</label>
	        </div> -->
	         <button class="btn waves-effect waves-yellow red" type="submit" name="action">Postular
    			<i class="material-icons right">send</i>
  			</button>
	      
	      </div>
	    </form>
	  </div>

