<div ng-include="proyectos.menutemplate.url"></div>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="images/plaza.jpg"> <!-- random image -->
        <div class="caption center-align ">
          <h3>Creación de nuevas plazas para la comunidad</h3>
          <h5 class="light white-text text-lighten-3 ">Antiguo terreno utilizado como basural, ahora es un punto de reunión.</h5>
        </div>
      </li>
      <li>
        <img src="images/juegos.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Nuevos juegos para niños</h3>
          <h5 class="light white-text text-lighten-3">Renovación antiguos juegos oxidados, por juegos nuevos.</h5>
        </div>
      </li>
      <li>
        <img src="images/luz.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Nueva luminaria pública</h3>
          <h5 class="light white-text text-lighten-3">Cambio de antiguas ampolletas alogenas de alto consumo, por ampolletas led de bajo consumo.</h5>
        </div>
      </li>
      <li>
        <img src="images/pavimento.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Repavimentación de calles</h3>
          <h5 class="light white-text text-lighten-3">Reparación de calles que se encontraban con hoyos y grietas.</h5>
        </div>
      </li>
    </ul>
  </div>
  <a class="waves-effect waves-red grey btn" ng-href="/#!/postular"><i class="material-icons left">add_shopping_cart</i>Postular a proyecto</a>
<table class="bordered">
        <thead>
          <tr>
              <th>ID Proyecto</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Region</th>
              <th>Ciudad</th>
              <th>Estado</th>
              <th>Requisito</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in proyecto ">
            <td>{{p.idproyecto}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.region}}</td>
            <td>{{p.ciudad}}</td>
            <td>{{p.estado}}</td>
            <td>{{p.requisito}}</td>
          </tr>
        </tbody>
      </table>
            