<div ng-include="ubicacion.menutemplate.url"></div>
<div class="map-container">
	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/u/0/embed?mid=15tSC9UaEpqv8Ifqcxjff3DOZxF0" width="100%" height="480"></iframe>
</div>


 <a class="waves-effect waves-light indigo btn"  target="_blank" href="https://www.google.com/maps/d/u/1/edit?authuser=1&mid=15tSC9UaEpqv8Ifqcxjff3DOZxF0&ll=-33.033426016470415%2C-71.57579894999998&z=13" >Agregar ubicacion proyectos</a>

 