<div ng-include="usuarios.menutemplate.url"></div>


 <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <!-- <th>Nombre</th> -->
              <th>Apellido</th>
              <th>Correo</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in usuario ">
            <td>{{p.nombre}}</td>
           <!--  <td>{{P.idusuario}}</td> -->
            <td>{{p.apellido}}</td>
            <td>{{p.correo}}</td>
          </tr>
        </tbody>
      </table>