<div ng-include="usuarios.menutemplate.url"></div>


 <table>
        <thead>
          <tr>
              <th>ID Usuario</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Nacimiento</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in Usuario ">
            <td>{{p.idusuario}}</td>
            <td>{{P.nombre}}</td>
            <td>{{p.apellido}}</td>
            <td>{{p.contrasena}}</td>
            <td>{{p.correo}}</td>
          </tr>
        </tbody>
      </table>